@tailwind base;
@tailwind components;
@tailwind utilities;

a{
  display: block;
  width: fit-content;
}

.reveal {
  transition: all 0.65s cubic-bezier(0.52, 0.01, 0.16, 1), color 0.25s cubic-bezier(0.52, 0.01, 0.16, 1);
  animation: reveal .5s cubic-bezier(0.52, 0.01, 0.16, 1);
}

@keyframes reveal {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}